<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Person</th>
      <th>Title</th>
      <th>Body</th>
      <th>Level</th>
      <th>Reg date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.patient_id %></td>
        <td><%= question.person_id %></td>
        <td><%= question.title %></td>
        <td><%= question.body %></td>
        <td><%= question.level %></td>
        <td><%= question.reg_date %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
su id de <%= @message %> es :
<%= @specialist_id %>
<%= @patient_id %>
<% if  session[:permission] != 2 %>
<%= link_to 'New Question', new_question_path %>
<% end %>
<%= link_to 'Back to Profile', controller: "people", action: "index" %>
