<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @patient.person_id %>
</p>

<p>
  <strong>Targa:</strong>
  <%= @patient.targa %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
